/*
 * Styles for the Title Page Widget
 *
 */
 
.cortex_about_widget label {
	width: 150px;
	display: block;
}

.cortex_about_widget .title_text,
.cortex_about_widget .title_description,
.cortex_about_widget .title_image {margin-bottom: 20px;}

.cortex_about_widget .title_image,
.cortex_about_widget .background_video,
.cortex_about_widget .background_image {
	color: #bbb;
}

.preview_placholder {
	width: 30%;
	margin: 20px 0px;
}						

.preview_placholder img {
	border: 1px solid #888;
	width: 100%;
	padding: 10px;
	background-color: #444;		
}		